:root{
  --body-white:#f8f9fa;
  --searchbar-grey:#e5e5e5;
  --ad-info:#5a5757;
  --ad-warning:#ff8f00;
  --sidebar-blue:#051e34;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--body-white);
}

/* utilities */

.debug{
  border: 1px solid black;
  background-color: rgba(120, 0, 120, .2);
}

.ad_fs-08{
  font-size: .8rem;
}

.ad_text-warning{
  color: var(--ad-warning);
}

.ad_text-info{
  color: var(--ad-info);
}

/* header */

header{
  height: 70px;
}

header .mobile-logo{
  width: 45px;
}

header .searchbar{
  height: 45px;
  background-color: var(--searchbar-grey);
}

header .searchbar .search-icon{
  width: 30px;
}

header .searchbar input{
  background-color: var(--searchbar-grey);
}

header nav{
  height: 45px;
}

/* main */

main{
  height: calc(100vh - 70px);
}

main aside{
  width: 70px;
  background-image: url(../img/sidebar-bg.png);
  background-color: var(--sidebar-blue);
}

main aside ul li:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, .4);
}

main .main-content{
  width: calc(100% - 70px)
}

/* @media */

/* tablet */

/* desktop */
@media screen and (min-width:1200px){
  main aside{
    width: 150px;
  }

  main .main-content{
    width: calc(100% - 150px)
  }
}