:root{
  --body-white:#f8f9fa;
  --searchbar-grey:#e5e5e5;
  --ad-info:#5a5757;
  --ad-warning:#ff8f00;
  --sidebar-blue:#051e34;
  --main-top-blue:#1b72e8;
  --badge-blue:#165bba;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--body-white);
}

/* utilities */

.debug{
  border: 1px solid black;
}

.w-40{
  width: 40%;
}

.ad_fs-08{
  font-size: .8rem !important;
}

.ad_fs-09{
  font-size: .9rem !important;
}

.ad_text-warning{
  color: var(--ad-warning);
}

.ad_text-info{
  color: var(--ad-info);
}

.ad_bg-badge{
  background-color: var(--badge-blue);
}

.ad_bg-searchbar{
  background-color: var(--searchbar-grey);
}

/* header */

header{
  height: 70px;
}

header .mobile-logo{
  width: 45px;
}

header .searchbar{
  height: 45px;
  background-color: var(--searchbar-grey);
}

header .searchbar .search-icon{
  width: 30px;
}

header .searchbar input{
  background-color: var(--searchbar-grey);
}

header .searchbar input:focus{
  outline: none;
}

header nav{
  height: 45px;
}

/* main */

main{
  height: calc(100vh - 70px);
}

main aside{
  width: 70px;
  background-image: url(../img/sidebar-bg.png);
  background-color: var(--sidebar-blue);
}

main aside ul li:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, .4);
}

main .main-content{
  width: calc(100% - 70px)
}

main .main-content .main-top{
  background-color: var(--main-top-blue);
}

main .main-content .main-top .ad_col-content{
  height: 90px;
}

main .main-content .main-bottom table .ad_tab-avatar{
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/* @media */

/* tablet */
@media screen and (min-width:768px){
  main .main-content .main-top .ad_col-content{
    height: 140px;
    padding-top: 25px;
  }

}

/* desktop */
@media screen and (min-width:1200px){
  main aside{
    width: 150px;
  }

  main .main-content{
    width: calc(100% - 150px)
  }

  main .main-content .main-top .ad_col-content{
    height: 125px;
  }
  
  main .main-content .main-top .ad_right-menu{
    width: 800px !important;
  }
}